
<div class="row">

    <!--Lytter til knappetrykk på kategorimenyen: -->
    <div class="col-sm-6" >
        <furst-kategorimeny [alleKategorier]="alleKategorier"
        (trykketPaaKnapp)="endreVisning($event)">
        </furst-kategorimeny>      
    </div>

    <!-- produktmenyer blir vist eller skjult avhengig av hvilken knapp som er aktiv i kategorimenyen -->
    <div class="col-sm-5"  >
        <furst-forsidetekst 
        [hidden]="!forsidetekst.vis"></furst-forsidetekst>

        <furst-produktmeny
        [produktkategori]="alleKategorier[1]"
        [hidden]="!alleKategorier[1].vis"></furst-produktmeny>

        <furst-produktmeny
        [produktkategori]="alleKategorier[2]"
        [hidden]="!alleKategorier[2].vis"></furst-produktmeny>

        <furst-produktmeny
        [produktkategori]="alleKategorier[3]"
        [hidden]="!alleKategorier[3].vis"></furst-produktmeny>

        <furst-produktmeny
        [produktkategori]="alleKategorier[4]"
        [hidden]="!alleKategorier[4].vis"></furst-produktmeny>

        <furst-produktmeny
        [produktkategori]="alleKategorier[5]"
        [hidden]="!alleKategorier[5].vis"></furst-produktmeny>

        <furst-produktmeny
        [produktkategori]="alleKategorier[6]"
        [hidden]="!alleKategorier[6].vis"></furst-produktmeny>

        <furst-produktmeny
        [produktkategori]="alleKategorier[7]"
        [hidden]="!alleKategorier[7].vis"></furst-produktmeny>

        <furst-produktmeny
        [produktkategori]="alleKategorier[8]"
        [hidden]="!alleKategorier[8].vis"></furst-produktmeny>

        <furst-produktmeny
        [produktkategori]="alleKategorier[9]"
        [hidden]="!alleKategorier[9].vis"></furst-produktmeny>
        
        <furst-produktmeny
        [produktkategori]="alleKategorier[10]"
        [hidden]="!alleKategorier[10].vis"></furst-produktmeny>


    </div>

    
  </div>


