

  <head>
    <meta charset="utf-8"/>
    <link href="/../styles.css" rel="stylesheet" type="text/css" />
    <meta property="og:title" content="Bestilling av utstyr" />
    <title>Furst bestillingsside</title>
  </head>
  
  <body>
    <div class="row">
      <div class="col-sm-10">
        <furst-logo></furst-logo>
      </div>
      <div class="col-sm-1" >
        <furst-handlekurvKnapp></furst-handlekurvKnapp>
      </div>
    </div>
    <br><br>
    <furst-informasjonsvindu></furst-informasjonsvindu>

  </body>
  










