<div class="card" style="width: 100%; border: white; margin-top: 2%; margin-left: 3%">
    <section class="card-body">
        

        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{vanligeRor.tekst}}</a>
                <br><br>
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{spesialror.tekst}}</a>
                <br><br>
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{mikrobiologi.tekst}}</a>
                <br><br>
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{nalerOgEmballasje.tekst}}</a>
                <br><br>
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{forsendelseskonvolutter.tekst}}</a>
            </div>

            <div class="col-sm-6">
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{rekvisisjoner.tekst}}</a>
                <br><br>
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{trykksaker.tekst}}</a>
                <br><br>
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{patologi.tekst}}</a>
                <br><br>
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{odontologi.tekst}}</a>
                <br><br>
                <a class="btn btn-lg btn-outline-primary btn-block my-button border-2" href="../side2-test/side2-test.component.html">{{annet.tekst}}</a>
            </div>
        </div>
    </section>
</div>

