<div class="card">
    <section class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[1])">{{alleKategorier[1].overskrift}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[2])">{{alleKategorier[2].overskrift}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[3])">{{alleKategorier[3].overskrift}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[4])">{{alleKategorier[4].overskrift}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[5])">{{alleKategorier[5].overskrift}}</button>
            </div>

            <div class="col-sm-6">
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[6])">{{alleKategorier[6].overskrift}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[7])">{{alleKategorier[7].overskrift}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[8])">{{alleKategorier[8].overskrift}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[9])">{{alleKategorier[9].overskrift}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp(alleKategorier[10])">{{alleKategorier[10].overskrift}}</button>
            </div>
        </div>
    </section>
</div>

