<div class="card">
    <section class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp('vanligeRor')">{{vanligeRor.tekst}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" (click)="trykkKnapp('spesialror')">{{spesialror.tekst}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" >{{mikrobiologi.tekst}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" >{{nalerOgEmballasje.tekst}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2">{{forsendelseskonvolutter.tekst}}</button>
            </div>

            <div class="col-sm-6">
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" >{{rekvisisjoner.tekst}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" >{{trykksaker.tekst}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" >{{patologi.tekst}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" >{{odontologi.tekst}}</button>
                <br><br>
                <button class="btn-lg btn-outline-primary btn-block my-button border-2" >{{annet.tekst}}</button>
            </div>
        </div>
    </section>
</div>

